
body{
    background: #fff;
}
.container {
    max-width: 1400px;
}
.product-cat{
    padding: 25px;
    background: #f5f5f5;
    width: calc(100% - 0px);
    position: relative;
}
.product-cat::after {
    content: '';
    position: absolute;
    top: -2px; right: -2; bottom: -2; left: -2px;
    z-index: -1;
    border-radius: inherit; /* !importanté */

    background: linear-gradient(0deg, rgba(224,7,21,1) 0%, rgba(255,124,0,1) 100%);

    width:calc(100% + 4px);
    height: calc(100% + 4px);
}
.product-cat::before {
    content: '';
    position: absolute;
    top: 0px; right: 0; bottom: 0; left: 0px;
    z-index: 0;
    border-radius: inherit; /* !importanté */

    background: #fff;

    width:100%;
    height: 50%;
}
.product-data{
    position: relative;
    z-index: 1;
    text-align: center;
}
.product-data i{
    background: #333;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    font-size: 12px;
    margin-bottom: 3px;
}
.product-data p{
    margin: 0px;
    padding: 0;
    text-align: center;
    font-size: 10px !important;
    font-weight: 600;
    line-height: 12px;
}
.product-list{
    border:5px solid #fff;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    margin-top: 20px;
    float: left;
    width: 100%;
}
.product-cat a.product-btn{
    float: left;
    width: 50%;
    background: #fff;
    font-size:14px;
    text-align: center;
    color: #000;
    font-weight: 600;
    padding-bottom: 10px;
}
.product-cat a.product-btn img{
    width: 100px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.product-cat a.product-btn span{
    width: 100%;
    float: left;
}
.product-cat .block-header{
    margin-bottom: 0px;
}
.product-cat .block-header h3.block-header__title{
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 15px;
    margin:20px 20px 20px;
    position: relative;
    color: #000;
}
.product-cat .block-header h3.block-header__title::after{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 40%;
    border-bottom: 1px dashed #666;
    left:30%;
}



.product-cat a.more-btn{
    color: #e00715;
    text-align: center;
}


.offer{
    border: 1px solid #ccc;
    padding: 35px 25px;
    background: #fff;
    margin: 0px 8px;
}
.offer h3{
    font-size:24px;
    color: #000;
}
.offer p{
    font-size:15px;
    color: #000;
}
.offer img{
    float: right;
    margin-left: 15px;
}

.top-cat{
    padding: 10px;
    background: #fff;
    width: calc(100% - 16px);
    margin: 0px 8px;
}
.top-cat .block-header h3.block-header__title{
    text-align: center;
    width: 100%;
    margin: 20px 0;
    font-size: 24px;
}

.top-cat .product-card__image img {
    max-width: 100%;
    display: block;
    position: absolute;
    max-height: 290px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
.top-cat a.more-btn{
    color: #e00715;
}
.top-cat p{
    border-top: 1px solid #ccc;
    margin: 0px;
    padding: 5px 0 0;
    text-align: right;
}
.owl-stage .container{
    position: relative;
    height: 100%;
}
/* login */
.login-bg{
    background: #e00715;
    text-align: center;
}
.login-popup h3{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 10px 0 0;
}
.login-popup .new-user-btn{
    color: #e00715 !important;
    cursor: pointer;
}
.login-popup .new-user-btn:hover{
    text-decoration: underline !important;
}
.login-popup .close{
    position: absolute;
    z-index: 10;
    font-size: 30px;
    color: #fff;
    opacity: 1;
    right: -25px;
    top: 0;
}
.or{
    position: relative;
    text-align: center;
    color: #333;
    font-weight: 600;
}
.or span{
    color: #333;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    padding: 10px;
    text-align: center;
    line-height: 50px;
    position: relative;
    z-index: 2;
}
.or::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #ccc;
    z-index: 1;
}
.social-log{
    text-align: center;
}
.social-log a{
    margin: 0px 15px;
    font-size: 24px;
}
.social-log a i{
    padding-bottom: 10px;
    border-bottom: 3px solid #ccc;
    width: 30px;
}
.social-log a .fa-facebook-f{
    color:#3b5998;
}
.social-log a .fa-twitter{
    color:#00acee;
}
.social-log a .fa-google-plus-g{
    color:#dd4b39;
}
.social-log a:hover .fa-facebook-f{
    color:#3b5998;
    border-bottom: 3px solid #3b5998;
}
.social-log a:hover .fa-twitter{
    color:#00acee;
    border-bottom: 3px solid #00acee;
}
.social-log a:hover .fa-google-plus-g{
    color:#dd4b39;
    border-bottom: 3px solid #dd4b39;
}
.field-icon {
    float: right;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    right: 5px;
}



.sticky {
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.contact-us__container .table{
    font-size:14px;
}



/* new styles */

.block-slideshow__slide-image {
    background-size: contain;
}

.block-slideshow--layout--with-departments .block-slideshow__body {
    height: auto;
}
.block-slideshow {
    margin-bottom: 50px;
    position: relative;
    margin: 0px auto 50px;
    max-width: 2000px;
}

.block {
    margin-bottom: 25px;
}

.block-features--layout--classic .block-features__divider {
    margin-top: 45px;
    margin-bottom: 45px;
}
.block-features__list{
    border: none;
}


/* popover */
.popover{
    max-width: 800px;
}
.item-list ul, .item-list ul li{
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.hide {
    display: none;
}
.head-list{
    font-weight: 600;
    margin-bottom: 10px;
}
.pop-ov-list .form-check-input{
    margin-top: 6px !important;
}

.active-button-addcart .product-card__buttons {
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    display: flex !important;
}


.block-features__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f5f5f5;
    padding: 10px;
    webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.block-features__item:hover .block-features__icon {
    fill: #f5f5f5;
    background: #e00715;
}
.block-features__item:hover .block-features__title {
    color: #e00715;
}
.block-features__title {
    webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}



/*ads hover effects*/
a.banner-anchor {
    display: inline-block;
    position: relative;
}
a.banner-anchor:before, a.banner-anchor:after {
    content: "";
    bottom: 0;
    box-sizing: border-box;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.6s ease-in-out 0s;
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
}

.ads-all:hover a.banner-anchor:before, .ads-all:hover a.banner-anchor:before {
    background: rgba(255, 255, 255, 0.15);
    left: 50%;
    right: 50%;
}

.ads-all:hover a.banner-anchor:after, .ads-all:hover a.banner-anchor:after {
    background: rgba(255, 255, 255, 0.15);
    bottom: 50%;
    top: 50%;
}


.remove_coupon{
    color: black;
    cursor:pointer;
}

.extended-warranty-box{
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 5px;
    background: white;
    margin: 10px 0px;
}
/* locator */
.locator-img {
    height: 800px;
    position: relative;
}
.locator-list {
    top: 50px;
    left: 5%;
    position: absolute;
    width: 550px;
}
.address-list span{
    line-height: 60px;
    background: #e00715;
    color: #fff;
    font-size: 18px;
    float: left;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    text-align: center;
}
.address-list{
  height: 440px;
  overflow: auto;
}

.address-list a{
  color: #333;
}
.store-det{
  text-align: center;
}

.store-det img{
  width: 250px;
}
.locator-det-mp{
   height:570px;

}

@media (max-width: 1450px){
    .container {
        max-width: 1140px;
    }
    .block-slideshow--layout--with-departments .block-slideshow__slide {
        height: 268px;
    }


    .product-cat {
        padding: 10px;
    }
    .product-cat .block-header h3.block-header__title {
        font-size: 20px;
    }


    .locator-list {
        width: 450px;
    }

}


@media (max-width: 992px){
    .block-slideshow .owl-carousel .owl-dots {
        display:none;
    }
    .top-cat {
        margin: 8px 8px;
    }
    .product-cat{
        margin: 10px 0;
    }
    .block-features--layout--classic .block-features__divider {
        margin-top:  0px;
        margin-bottom: 0px;
    }

    .block-slideshow__slide-image {
        background-size: cover;
    }

    .mob-dis-none{
        display: none;
    }


}

.product-card {
    border: .5px solid #ffffff;
}

/* cart-redesign styles */
/* cart-redesign styles */
/* cart-redesign styles */
.cart__section__column{
    padding: 1rem;
    flex-direction: column;
    align-self: center;
}
.cart__section__options{
    padding-left: 18px;
}
.cart__section__column--image img{
    width: 100%;
}
.card_section__row{
    margin: 0;
}
.sub_pro_row .sub_image_cart{
    position: relative;
}
.sub_pro_row{
    background-color: rgb(245, 245, 245);
    margin: 0;
}
html{
    overflow-x:hidden;
}

@media(min-width:768px){
    .card_section__row{
        border-top: 1px solid #f1ebeb;
    }
    .black_border{
        border: 1px solid #000;
    }
    .sub_pro_row .sub_image_cart i{
        position: absolute;
        top: 15px;
        left: 0;
        padding: 15px;
    }
    .sub_pro_row .sub_image_cart{
        padding-left: 4rem;
    }
    .border_align,.cart-section__body{
        border: 1px solid black;
    }
    .cart-table__head {
        background: #262e3f;
        font-size: 15px;
        color: white;
    }

    .cart__section__column--quantity .input-number{
        width: 50% !important;
        z-index: 999;
    }
    .cart__section__column--quantity .input-number__input{
        min-width: 50px !important;
        padding: 0 !important;
    }

}
@media(max-width:768px){
    .sub_pro_row{
        margin: 20px 0;
    }
    .p-5x{
        padding: 5px !important;
    }
    .cart__section__column--quantity{
        padding: 0 !important;
    }
    .input-number__input {
        min-height: 40px;
        min-width: 67px;
    }
    .cart__section__column{
        padding: 1rem;
    }
    .sub_pro_row .sub_image_cart i{
        padding: 15px 0;
    }
    .cart__section .form-control.input-number__input{
        border: none !important;
        border-radius: 20px;
        position: relative;
    }
    .top_view{
        position: absolute;
        right: 0;
        width: 40px;
        top: 0;
    }
    .mob_view{
        display: none;
    }
    .card_section__row{
        margin: 20px 0;
        border-radius: 10px;
        position: relative;
        background: rgb(245, 245, 245);
        padding: 10px;
    }
    .border_align{
        align-self: center;
    }
    .cart__section__product-name,.cart__section__column--total{
        color: #bea984;
    }
}

.cart__section__product-name i{
    margin-right: 5px;
}
